<%- include ("header.ejs") %>

<!-- Page Header Start -->
<div class="container-fluid bg-dark bg-img p-5 mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white">Login Page</h1>
            <a href="/">Home</a>
            <i class="far fa-square text-primary px-2"></i>
            <a href="/about">About</a>
        </div>
    </div>
</div>
<!-- Page Header End -->



    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="col-lg-4 text-center bg-primary border-inner py-3">
                    <div class="d-inline-flex align-items-center justify-content-center">
                        <a href="/" class="navbar-brand">
                            <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-dark me-3"></i>CakeZone</h1>
                        </a>
                    </div>
                </div>
                <h4>Hello! let's get started</h4>
                <h6 class="font-weight-light">Sign in to continue.</h6>
                <font color="#5757b6" size="5"><%- output %></font>
                <form class="pt-3" method="post" action="login">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="email" name="email" value="<%- cunm %>">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" name="password" value="<%- cpass %>">
                  </div>
                  <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"> SIGN IN</button>
                  
                  <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input" name="chk" value="remember" >
                        Keep me signed in
                      </label>
                    </div>
                    <a href="/resetpasswordOTP" class="auth-link text-black">Forgot password?</a>
                  </div>
                  <div class="mb-2">
          <button type="button" onclick="location.href='/auth/facebook'" class="btn btn-block btn-facebook auth-form-btn">
                      <i class="ti-facebook mr-2" ></i>Connect using facebook
                    </button>
                  </div>
                  <div class="text-center mt-4 font-weight-light">
                    Don't have an account? <a href="/webregister" class="text-primary">Create,  </a>
                     or Want to become Seller ? <a href="/sellerregister" class="text-primary">Create Seller Account</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
 

    
<%- include ("footer.ejs") %>